body {
  font-family: "Nunito", sans-serif;
  overflow-x: hidden;
  background: linear-gradient(180deg, #e8ebeca1 0%, #fff 10%) no-repeat;
}

h1 {
  font-weight: bolder;
}

header {
  width: 100vw;
  text-align: center;
}

input[type="text"],
input[type=" text"],
input[type=" number"],
input[type="number"],
input[type="password"] {
  border-radius: 5px;
  border: 1px grey solid;
  padding: 3px;
}

input[type="submit"],
input[type="reset"],
button {
  border-radius: 5px;
  border: 1px grey solid;
  padding: 0.4em;
  background-color: white;
  box-shadow: 1px 1px #000;
}

input[type="submit"]:hover,
input[type="reset"]:hover,
button:hover {
  background-color: #eee;
}

input[type="submit"]:active,
input[type="reset"]:active,
button:active {
  box-shadow: none;
  transform: translate(1px, 1px);
}

nav {
  width: 100vw;
  display: flex;
  justify-content: center;
}

ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  width: 100%;
  max-width: 90vw;
  justify-content: space-between;
  padding: 0;
}

li {
  padding: 0em;
  width: fit-content;
}

li a {
  text-decoration: none;
  color: grey;
}

li a.active {
  text-decoration: none;
  color: grey;
  font-weight: bold;
}

li a:hover {
  color: black;
}
